{% load staticfiles %}

<!-- csrf_meta_tags -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>openCurrents</title>
<link href='https://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
<script src="https://use.fontawesome.com/30e81bb612.js"></script>

<link rel="shortcut icon" href=" {% static "img/head/favicon.ico" %}" type="image/x-icon">
<link rel="icon" href=" {% static "img/head/favicon.ico" %}" type="image/x-icon">

<link href="{% static "css/head/slidebars.min.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "css/head/foundation.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "css/head/app.css" %}" rel="stylesheet" type="text/css">

<!--<script src="//load.sumome.com/" data-sumo-site-id="1b21a53792e4c88b00e30601504a2f55dc297d404ac939f395a1d738eddc66a8" async="async"></script>-->

<script type="text/javascript" src="{% static "js/head/jquery.js" %}"></script>
<script type="text/javascript" src="{% static "js/head/jquery.popupoverlay.js" %}"></script>
<script type="text/javascript" src="{% static "js/head/slidebars.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/head/modernizr.js" %}"></script>
<script type="text/javascript" src="{% static "js/head/doubletaptogo.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/head/jquery.placeholder.js" %}"></script>
<script type="text/javascript" src="{% static "js/head/foundation.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/head/jquery.mask.min.js" %}"></script>
